<br/>
<br/>
<% if @wish_list.is_own_list?(session[:user_id]) %>
  <h2>Here is your <em><%= @wish_list.name %></em> list <%= @user.name %>!</h2>
<% else %>
  <h2>Here is <%= @wish_list.user.name %>'s <em><%= @wish_list.name %></em> list!</h2>
<% end %>

<br/>
<br/>
<ul>
  <% if @wish_list.wishes.count > 0 %>
    <% @wish_list.wishes.each do |w| %>
      <li class="shadow-sm bg-white rounded p-3 mb-3">
        <h2><%= w.name %></h2>
        <h2><%= w.description %></h2>
        <% url = w.url.match(/(http|https)/) ? w.url : "https://#{w.url}" %>
        <h2><a class="btn btn-link" href="<%= url %>" target="_blank">Click here to see item in website.</a></h2>
        <% if @wish_list.is_own_list?(session[:user_id]) %>
        <form action="/wishes/<%= w.id %>" method="post">
          <a class="btn btn-secondary btn-sm" href="/wishes/<%= w.id %>/edit" role="button"> Edit Wish</a>
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input class="btn btn-danger btn-sm" type="submit" value="Delete Wish">
        </form>
      <% end %>
    </li>
    <% end %>
  <% else %>
  <h3>Add wishes to this wishlist! </h3>
 <% end %>
</ul>
<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="container text-center text-md-left">
    <a class="btn btn-secondary" href="/wish_lists" role="button">Back</a>
    <br><br>
    <% if @wish_list.is_own_list?(session[:user_id]) %>
       <form action="/wish_lists/<%= @wish_list.id %>" method="post">
         <a class="btn btn-secondary" href="/wishes/<%= @wish_list.id %>/new" role="button">Add Wish</a>
         <a class="btn btn-secondary" href="/wish_lists/<%= @wish_list.id %>/edit" role="button"> Edit List</a>
         <input id="hidden" type="hidden" name="_method" value="delete">
         <input class="btn btn-danger" type="submit" value="Delete List">
       </form>
     <% end %>
  </div>
</footer>
<!-- Footer -->
