<div class="d-flex flex-row justify-content-between">
  <h2>Welcome, <%= @user.name %>!</h2>
  <a class="btn btn-secondary align-self-end" href="/wish_list/new" role="button">New WishList</a>
</div>

<ul>
  <% @wish_list.order('id DESC').each do |list| %>
    <li class="shadow-sm bg-white rounded p-3 mb-3">
      <h3><%= list.user.name %></h3>
      <h3><a href="/wish_list/show/<%= list.id %>"> <%= list.name %></a></h3>
      <h4>Your list has <%= list.wishes.count %> items.</h4>
      <a class="btn btn-secondary" href="/wish_list/show/<%= list.id %>" role="button">View List</a>
    </li>
  <% end %>
</ul>
