</br>
</br>
<h2>Here is your <%= @newlist.name %> <%= @user.username %>!</h2>

<ul>
   <% @newlist.wishes.each do |w| %>
     <li class="shadow-sm bg-white rounded p-3 mb-3">
       <h3><%= w.name %></h3>
       <h2><%= w.description %></h2>
       <h2><%= w.url %></h2>
     </li>
   <% end %>
 </ul>

<div class="float-right">
   <a class="btn btn-primary" href="/add_wish_to_wishlist/<%= @newlist.id %>" role="button">new wish</a>
   <a class="btn btn-primary" href="/list" role="button">Back</a>
   <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>
