</br>
</br>
<h2>Here is your <%= @wish_list.name %> list <%= @user.username %>!</h2>

  <div>
   <% @wish_list.wishes.each do |w| %>
     <li class="shadow-sm bg-white rounded p-3 mb-3">
       <h2><%= w.name %></h2>
       <h2><%= w.description %></h2>
       <h2><%= w.url %></h2>
      <a class="btn btn-primary" href="/wish/<%= w.id %>/edit" role="button"> Edit Wish</a>
      <form action="/wish/<%= w.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input class="btn btn-danger" type="submit" value="Delete Wish">
      </form>
    </li>

   <% end %>
  </div>


<!-- Footer -->
<footer class="page-footer font-small blue">

  <div class="container text-center text-md-left">
     <a class="btn btn-primary" href="/wish/<%= @wish_list.id %>/new" role="button">new wish</a>
     <a class="btn btn-primary" href="/wish_list/<%= @wish_list.id %>/edit" role="button"> Edit List</a>
     <a class="btn btn-primary" href="/list" role="button">Back</a>
     <form action="/wish_list/<%= @wish_list.id %>" method="post">
       <input id="hidden" type="hidden" name="_method" value="delete">
       <input class="btn btn-danger" type="submit" value="Delete List">
     </form>
  </div>

</footer>
<!-- Footer -->
